@model SkyRim.Models.UserDetails
@{
	ViewData["Title"] = "User Details";
}

<div id="register-module" class="col-md-4">
    <form id="registerForm" asp-action="UserDetailsForm" asp-controller="Profile" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="User" />

        <h2>Fill in User Details</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="FirstName" class="form-control" aria-required="true" placeholder="Ex. David" />
            <label asp-for="FirstName">First Name</label>
            <span asp-validation-for="FirstName" class="text-red-500 text-xs italic"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="MiddleName" class="form-control" aria-required="false" placeholder="Ex. A." />
            <label asp-for="MiddleName">Middle Name (Optional)</label>
			<span asp-validation-for="MiddleName" class="text-red-500 text-xs italic"></span>
		</div>
        <div class="form-floating mb-3">
            <input asp-for="LastName" class="form-control" aria-required="true" placeholder="Ex. Walker" />
            <label asp-for="LastName">Last Name</label>
            <span asp-validation-for="LastName" class="text-red-500 text-xs italic"></span>
        </div>
        <div class="form-floating mb-3">
            <select asp-for="Gender" class="form-control" asp-items="ViewBag.Genders">
                <option value="">-- Select Gender --</option>
            </select>
            <label asp-for="Gender">Gender</label>
            <span asp-validation-for="Gender" class="text-red-500 text-xs italic"></span>
        </div>
        <div class="form-floating mb-3">
            <select asp-for="Nationality" class="form-control" asp-items="ViewBag.Nationalities">
                <option value="">-- Select Nationality --</option>
            </select>
            <label asp-for="Nationality">Nationality</label>
            <span asp-validation-for="Nationality" class="text-red-500 text-xs italic"></span>
        </div>
        <div class="form-floating mb-3">
            <select asp-for="Race" class="form-control" asp-items="ViewBag.Races">
                <option value="">-- Select Race --</option>
            </select>
            <label asp-for="Race">Race</label>
            <span asp-validation-for="Race" class="text-red-500 text-xs italic"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="LinkedInUrl" class="form-control" aria-required="false" placeholder="Ex. David" />
            <label asp-for="LinkedInUrl">LinkedIn URL (Optional)</label>
            <span asp-validation-for="LinkedInUrl" class="text-red-500 text-xs italic"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="GitHubUrl" class="form-control" aria-required="true" placeholder="Ex. David" />
            <label asp-for="GitHubUrl">GitHub URL (Optional)</label>
            <span asp-validation-for="GitHubUrl" class="text-red-500 text-xs italic"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Save Profile</button>
    </form>
</div>
