@{
    ViewData["Title"] = "Home Page";
}

<div id="intro-message" class="container">
    <h1>Master New <span id="glow-emphasis">Skills</span> With Expert-Guided Learning</h1>
    <p>Learn at your own pace from top instructors. Get real-world skills that help you 
        <span id="glow-emphasis">grow</span>, <span id="glow-emphasis">excel</span>, 
        and <span id="glow-emphasis">lead</span> anywhere, anytime.</p>

    <button class="intro-btn1" ><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Get Started</a></button>
    <button class="intro-btn2">Browse all courses</button>

</div>
<div id="intro-image" class="container">
    <figure>
        <img src="" />
    </figure>
</div>
